DOK/*.log
DOK/*.aux
DOK/*fdb_latexmk
DOK/*.fls
DOK/*.out
DOK/*.synctex.gz
SKELETON/*.class
SKELETON/jarmuvek/*.class
SKELETON/jatekosok/*.class
SKELETON/takaritofejek/*.class
SKELETON/utak/*.class
SKELETON/terkep/*.class
bin/*.class
bin/jarmuvek/*.class
bin/jatekosok/*.class
bin/takaritofejek/*.class
bin/utak/*.class
bin/terkep/*.class
bin/skeletonprogram/*.class
*.zip
%OUTDIR%
